.card {
    border: 5px double gray;
    background-repeat: no-repeat;
    background-size: cover;
}

.col-12 {
    text-align: center;
}

#bottom {
    position: sticky;
    bottom: 0;
    width: 100%;
}