.card {
    border: 5px double gray;
    background-repeat: no-repeat;
    background-size: cover;
}

.col-12 {
    text-align: center;
}

#bottom {
    border: 5px double gray;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#firstjumbo {
    border: 5px double gray;
}

.prevention {
    text-decoration: aliceblue;
    text-align: center;
}

.lead {
    text-align: center;
    text-decoration: white;
    font-style: oblique;
    font-weight: bolder;
}

.display-4 {
    text-align: center;
}

.home {
    background: #CC95C0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}